-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: pokeradmin
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `pokeradmin`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `pokeradmin` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `pokeradmin`;

--
-- Table structure for table `accumulated_commissions`
--

DROP TABLE IF EXISTS `accumulated_commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accumulated_commissions` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `destination_id` int unsigned NOT NULL,
  `tournament_id` int unsigned NOT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `percentage_applied` decimal(5,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_destination` (`destination_id`),
  KEY `idx_tournament` (`tournament_id`),
  CONSTRAINT `accumulated_commissions_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `commission_destinations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `accumulated_commissions_ibfk_2` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accumulated_commissions`
--

LOCK TABLES `accumulated_commissions` WRITE;
/*!40000 ALTER TABLE `accumulated_commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accumulated_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_games`
--

DROP TABLE IF EXISTS `cash_games`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_games` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `small_blind` decimal(10,2) NOT NULL,
  `start_datetime` datetime NOT NULL,
  `gaming_date` date DEFAULT NULL,
  `end_datetime` datetime DEFAULT NULL,
  `total_commission` decimal(10,2) DEFAULT '0.00',
  `dealer` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_tips` decimal(10,2) DEFAULT '0.00',
  `default_buyin` decimal(10,2) DEFAULT '0.00' COMMENT 'Monto m├¡nimo requerido para sentarse',
  PRIMARY KEY (`id`),
  KEY `idx_cash_gaming_date` (`gaming_date`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_games`
--

LOCK TABLES `cash_games` WRITE;
/*!40000 ALTER TABLE `cash_games` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_games` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_participants`
--

DROP TABLE IF EXISTS `cash_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_participants` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `cash_game_id` int unsigned NOT NULL,
  `user_id` int unsigned NOT NULL,
  `seat_number` int DEFAULT NULL,
  `joined_at` datetime NOT NULL,
  `left_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cash_game_id` (`cash_game_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `cash_participants_ibfk_1` FOREIGN KEY (`cash_game_id`) REFERENCES `cash_games` (`id`),
  CONSTRAINT `cash_participants_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=369 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_participants`
--

LOCK TABLES `cash_participants` WRITE;
/*!40000 ALTER TABLE `cash_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commission_config`
--

DROP TABLE IF EXISTS `commission_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commission_config` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `destination_id` int unsigned NOT NULL,
  `percentage` decimal(5,2) NOT NULL COMMENT 'Porcentaje de comisi├│n (0-100)',
  `priority` int DEFAULT '0' COMMENT 'Orden de aplicaci├│n',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_destination` (`destination_id`),
  CONSTRAINT `commission_config_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `commission_destinations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commission_config`
--

LOCK TABLES `commission_config` WRITE;
/*!40000 ALTER TABLE `commission_config` DISABLE KEYS */;
INSERT INTO `commission_config` VALUES (1,4,1.00,0,'2025-12-07 18:07:25','2025-12-07 18:07:25'),(2,1,18.00,0,'2025-12-07 18:07:35','2025-12-07 18:07:35'),(3,2,1.00,0,'2025-12-07 18:07:40','2025-12-07 18:07:40');
/*!40000 ALTER TABLE `commission_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commission_destinations`
--

DROP TABLE IF EXISTS `commission_destinations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commission_destinations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre del destino (Casa, Copa Don Humberto, etc)',
  `type` enum('house','season_ranking','special_tournament') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Tipo de destino',
  `season_id` int unsigned DEFAULT NULL COMMENT 'ID de temporada si type=season_ranking',
  `tournament_id` int unsigned DEFAULT NULL COMMENT 'ID de torneo especial si type=special_tournament',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `season_id` (`season_id`),
  KEY `tournament_id` (`tournament_id`),
  KEY `idx_type` (`type`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `commission_destinations_ibfk_1` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`id`) ON DELETE CASCADE,
  CONSTRAINT `commission_destinations_ibfk_2` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commission_destinations`
--

LOCK TABLES `commission_destinations` WRITE;
/*!40000 ALTER TABLE `commission_destinations` DISABLE KEYS */;
INSERT INTO `commission_destinations` VALUES (1,'Casa','house',NULL,NULL,1,'2025-12-03 04:38:35','2025-12-03 04:38:35'),(2,'Ranking General','season_ranking',NULL,NULL,1,'2025-12-03 04:38:35','2025-12-03 04:38:35'),(3,'Copa Don Humberto','special_tournament',NULL,NULL,1,'2025-12-03 04:38:35','2025-12-03 04:38:35'),(4,'pozo supertest prueba','special_tournament',10,NULL,1,'2025-12-07 18:06:59','2025-12-07 18:06:59');
/*!40000 ALTER TABLE `commission_destinations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commission_pools`
--

DROP TABLE IF EXISTS `commission_pools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commission_pools` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `pool_type` enum('monthly','quarterly','copa_don_humberto','house') COLLATE utf8mb4_unicode_ci NOT NULL,
  `period_identifier` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `accumulated_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status` enum('active','closed','paid') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `closed_at` datetime DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commission_pools`
--

LOCK TABLES `commission_pools` WRITE;
/*!40000 ALTER TABLE `commission_pools` DISABLE KEYS */;
/*!40000 ALTER TABLE `commission_pools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealer_shifts`
--

DROP TABLE IF EXISTS `dealer_shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dealer_shifts` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `cash_game_id` int unsigned NOT NULL,
  `outgoing_dealer` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Dealer que termina el turno',
  `incoming_dealer` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Dealer que comienza el turno',
  `shift_start` datetime NOT NULL COMMENT 'Inicio del turno',
  `shift_end` datetime NOT NULL COMMENT 'Fin del turno',
  `commission` decimal(10,2) DEFAULT '0.00' COMMENT 'Comisi├│n generada en el turno',
  `tips` decimal(10,2) DEFAULT '0.00' COMMENT 'Propinas recibidas en el turno',
  `recorded_by` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Usuario que registr├│ el cambio',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_cash_game` (`cash_game_id`),
  KEY `idx_outgoing_dealer` (`outgoing_dealer`),
  KEY `idx_incoming_dealer` (`incoming_dealer`),
  CONSTRAINT `fk_dealer_shifts_cash_game` FOREIGN KEY (`cash_game_id`) REFERENCES `cash_games` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Historial de cambios de turno de dealers en mesas cash';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealer_shifts`
--

LOCK TABLES `dealer_shifts` WRITE;
/*!40000 ALTER TABLE `dealer_shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `dealer_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historical_points`
--

DROP TABLE IF EXISTS `historical_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historical_points` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `record_date` datetime NOT NULL,
  `user_id` int unsigned NOT NULL,
  `season_id` int unsigned NOT NULL,
  `tournament_id` int unsigned DEFAULT NULL,
  `result_id` int unsigned DEFAULT NULL,
  `action_type` enum('attendance','reentry','final_table','placement','bonus') COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `points` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=257 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historical_points`
--

LOCK TABLES `historical_points` WRITE;
/*!40000 ALTER TABLE `historical_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `historical_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_date` datetime NOT NULL,
  `gaming_date` date DEFAULT NULL,
  `source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_id` int unsigned DEFAULT NULL,
  `paid` tinyint(1) NOT NULL DEFAULT '0',
  `paid_amount` decimal(15,2) DEFAULT '0.00',
  `method` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `personal_account` tinyint(1) DEFAULT '0',
  `recorded_by_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_payment_gaming_date` (`gaming_date`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=492 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `phone_number` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nickname` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `current_points` int DEFAULT '0',
  `suspended` tinyint(1) NOT NULL DEFAULT '0',
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranking_history`
--

DROP TABLE IF EXISTS `ranking_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ranking_history` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `user_id` int unsigned NOT NULL,
  `season_id` int unsigned NOT NULL,
  `posicion` int NOT NULL,
  `puntos_acumulados` int NOT NULL,
  `torneos_jugados` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranking_history`
--

LOCK TABLES `ranking_history` WRITE;
/*!40000 ALTER TABLE `ranking_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `ranking_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations`
--

DROP TABLE IF EXISTS `registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `tournament_id` int unsigned NOT NULL,
  `registration_date` datetime NOT NULL,
  `punctuality` tinyint(1) NOT NULL,
  `position` int unsigned DEFAULT NULL,
  `action_type` tinyint unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `tournament_id` (`tournament_id`),
  CONSTRAINT `registrations_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `registrations_ibfk_2` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2319 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations`
--

LOCK TABLES `registrations` WRITE;
/*!40000 ALTER TABLE `registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `results`
--

DROP TABLE IF EXISTS `results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `results` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `user_id` int unsigned NOT NULL,
  `position` int NOT NULL,
  `final_table` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `tournament_id` (`tournament_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `results_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`id`),
  CONSTRAINT `results_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1418 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `results`
--

LOCK TABLES `results` WRITE;
/*!40000 ALTER TABLE `results` DISABLE KEYS */;
/*!40000 ALTER TABLE `results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seasons`
--

DROP TABLE IF EXISTS `seasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seasons` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `torneos_totales` int unsigned NOT NULL DEFAULT '0',
  `torneos_jugados` int unsigned NOT NULL DEFAULT '0',
  `estado` enum('planificada','activa','finalizada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'planificada',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seasons`
--

LOCK TABLES `seasons` WRITE;
/*!40000 ALTER TABLE `seasons` DISABLE KEYS */;
INSERT INTO `seasons` VALUES (10,'SuperTest 2024','Temporada de prueba completa con 50 jugadores','2025-07-01','2025-12-31',28,0,'activa','2025-12-01 05:10:06','2025-12-01 20:17:36'),(11,'ΓÖá∩╕Å Ranking Pica 2026',NULL,'2026-01-01','2026-03-01',0,0,'planificada','2025-12-04 19:41:20','2025-12-04 19:41:20');
/*!40000 ALTER TABLE `seasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  UNIQUE KEY `key_2` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_points`
--

DROP TABLE IF EXISTS `tournament_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_points` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `position` int NOT NULL,
  `points` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_points`
--

LOCK TABLES `tournament_points` WRITE;
/*!40000 ALTER TABLE `tournament_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournaments`
--

DROP TABLE IF EXISTS `tournaments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournaments` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` datetime NOT NULL,
  `gaming_date` date DEFAULT NULL,
  `buy_in` decimal(15,2) NOT NULL,
  `re_entry` int NOT NULL DEFAULT '0',
  `knockout_bounty` decimal(15,2) NOT NULL DEFAULT '0.00',
  `starting_stack` int NOT NULL DEFAULT '1000',
  `count_to_ranking` tinyint(1) NOT NULL DEFAULT '0',
  `double_points` tinyint(1) NOT NULL DEFAULT '0',
  `blind_levels` int NOT NULL DEFAULT '10',
  `small_blind` int NOT NULL DEFAULT '10',
  `punctuality_discount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `registration_open` tinyint(1) NOT NULL DEFAULT '1',
  `end_date` datetime DEFAULT NULL,
  `pinned` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Torneo destacado en dashboard principal',
  `season_id` int unsigned DEFAULT NULL COMMENT 'ID de la temporada (seasons table)',
  PRIMARY KEY (`id`),
  KEY `idx_tournaments_pinned` (`pinned`),
  KEY `idx_tournaments_season` (`season_id`),
  KEY `idx_gaming_date` (`gaming_date`),
  CONSTRAINT `fk_tournaments_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournaments`
--

LOCK TABLES `tournaments` WRITE;
/*!40000 ALTER TABLE `tournaments` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournaments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_number` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nickname` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `current_points` int DEFAULT '0',
  `suspended` tinyint(1) NOT NULL DEFAULT '0',
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  `avatar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'URL o path del avatar',
  `role` enum('admin','user') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `is_player` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=266 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'pokeradmin'
--

--
-- Dumping routines for database 'pokeradmin'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-03 21:01:29
