{{!-- Vista de lista de torneos --}}
<div class="tournament-list-container">
    <h1>Lista de Torneos</h1>
    <ul class="tournament-list">
        {{#each tournaments}}
        <li>
            <a class="tournament-link tournament-box-link" href="/tournaments/{{this.id}}">
                <span>{{this.tournament_name}}</span>
                <span class="tournament-date">{{this.start_date}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
    <a class="add-tournament-btn" href="/tournaments/new">Agregar Torneo</a>
</div>