<footer class="pa-footer">
    PokerAdmin &copy; 2025 &mdash; Made with <span style="color:#e53935;">&#9829;</span> for Poker Clubs.
    <a class="footer-link" href="https://github.com/alangarciasobrero/pokeradmin" target="_blank">GitHub</a>
</footer>
