<footer class="pa-footer">
    PokerAdmin &copy; 2025 &mdash; Hecho con <span style="color:#e53935;">&#9829;</span> para Ramos Poker Club.
    <a class="footer-link" href="https://github.com/alangarciasobrero/pokeradmin" target="_blank">GitHub</a>
</footer>
