<!DOCTYPE html>
<html>
<head>
    <title>PokerAdmin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon SVG inline para mostrar el diamante en la pestaña -->
    <link rel="icon" type="image/svg+xml" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38"><polygon points="19,5 33,19 19,33 5,19" fill="%23e53935" stroke="%233949ab" stroke-width="2.2"/><polygon points="19,8 30,19 19,30 8,19" fill="%23FFD6D6" opacity="0.5"/></svg>' />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{!-- Render role-specific header: admin gets admin header, others get player header. Uses `role` set in res.locals by session middleware. --}}
    {{#if (eq role 'admin')}}
        {{> header_admin }}
    {{else}}
        {{> header_player }}
    {{/if}}
        {{#if flash}}
            <div class="flash flash-{{flash.type}}">{{flash.message}}</div>
        {{/if}}
    <main>
        {{{body}}}
    </main>
    {{> footer }}
</body>
</html>
